*.rej
*.orig
*.swp
*.save*
*.d
*.deps
*.a
*.out
*.lib
*.obj
*.dll
*.so
*.elf
*.exe
*.gch
*.pyc
*.plist
*.mo
*.gmo
*.fd
*.iso
*.img
*.img.*
*.qcow2
*.vhd
*.vdi
*.vmdk
*.cpio
*.cpio.*
*.ttc
*.pcf
*.pcf.*
*.efi
*.lds
*.gz
*.zst
*.xz
*.lz4
*.bin
*.dtb
*.itb
*.kern
vgcore.*
/build*
/busybox
initramfs*.*
initrd*.*
System.map*
/cmake-build-*
/.idea
/.vscode
/.cache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
node_modules
package.json
package-lock.json
fonts.scale
__pycache__
/include/config.h
/local

